<!--继承基础模板-->
{%extends "bootstrap/base.html"%}

<!--title 页面的标题-->
{% block title %}这是一个测试页{% endblock title %}
{#<title>test</title>直接用html语言不能实现 #}
{% block body %}
{#    <img src="/static/timg.jpg" width="70%" height="200px" class=" center-block " alt="Responsive image">#}
{% block navbar %}
<!-- 务必使用 <nav> 元素，或者，如果使用的是通用的 <div> 元素的话，务必为导航条设置 role="navigation" 属性，这样能够让使用辅助设备的用户明确知道这是一个导航区域。-->
<nav class="navbar navbar-default">
    <div class="container">
        <div class="collapse navbar-collapse" >
            <ul class="nav navbar-nav">
                <li class="active"><a href="/index">主页</a></li>
                <li><a href="#">查询</a></li>
                <li><a href="#">模拟</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">帮助</a></li>
            </ul>
        </div>
    </div><!-- /.navbar-collapse -->
</nav>
{% endblock navbar %}
{#放入同一个容器中#}
<div class="container">
    <h3>天区覆盖查询</h3>
    <label>望远镜编号：</label>
<!--select 下拉表单-->
{#    <select class="form-control">#}
{#        <option>Java</option>#}
{#        <option>Html</option>#}
{#        <option>IOS</option>#}
{#    </select>#}
    <div class="dropdown" style="display: inline-block">
        <button id="dropdownMenu1" class="btn btn-default" type="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            从数据库取第一个数
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
        </ul>
    </div>
    <label>日期：</label>
    <div class="dropdown" style="display: inline-block">
        <button id="dropdownMenu2" class="btn btn-default " type="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            2019001
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
        </ul>
    </div>
    <button type="button" style="float: right" class="btn btn-default">确定</button>
    <table class="table table-bordered ">
    <!--thead表格标题行，标识表格的列，用th，tbody表格的主体，tr行 td单元格-->
        <thead>
            <tr>
                <th>id</th>
                <th>x1</th>
                <th>y1</th>
                <th>x2</th>
                <th>y2</th>
                <th>x3</th>
                <th>y3</th>
                <th>x4</th>
                <th>y4</th>
                <th>mag</th>
            </tr>
        </thead>
        <tbody>
{#        {% for row in result %}#}
            <tr>
{#            {% for item in row %}#}
{#                <td>{{ item }}</td>#}
{#            {% endfor %}#}
                <td>1</td>
                <td>从数据库中提取x1</td>
                <td>从数据库中提取y1</td>
                <td>从数据库中提取x2</td>
                <td>从数据库中提取y2</td>
                <td>从数据库中提取x3</td>
                <td>从数据库中提取y3</td>
                <td>从数据库中提取x4</td>
                <td>从数据库中提取y4</td>
                <td>从数据库中提取mag</td>
            </tr>
{#        {% endfor %}#}
        </tbody>
    </table>
</div>
{% block scripts %}
    <script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
    <script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
{%- endblock scripts %}
{% endblock body %}
{#</body>#}
{#</html>#}